html {
  background-color: #222;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents the black bars from causing horizontal scroll */
}

h1 {
  font-size: 7vw;
  text-shadow: 0 .1em 0 black;
  color: #e85733;
  text-align: center;
  -webkit-text-stroke: .05em black;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

/* Centering section */
#Lobby,
#JoinInformation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Rotated input with straight text */
#lobbyWrapper {
  transform: skewX(-10deg);   /* slants the sides */
  display: inline-block;      /* important so the skew behaves correctly */
}


#lobbyCode {
  color: #222;
  font-size: 3.5vw;
  background-color: #e85733;
  text-align: center;
  width: 25rem;
  padding: 0.5rem 1rem;
  border: none;
}

/* Button styling */
#joinLobby,
#leaveLobby {
  font-size: 2vw;
  padding: 0.5rem 2rem;
  background-color: #e85733;
  border: none;
  border-radius: 0.4rem;
  color: #222;
  cursor: pointer;
  transition: 0.2s;
}

#joinLobby {
  width: 20rem !important;
  height: 4rem !important;
  font-size: 3rem !important;
}

#leaveLobby:hover,
#joinLobby:hover {
  background-color: #aa432a;
}
#leaveLobby:focus,
#joinLobby:focus {
  background-color: #ffffff;
}

#leaveLobby {
  position: fixed;
  left: 40%;
  right: 40%;
  bottom: 10vh;
  border: .2em solid black;
  border-radius: .4rem;
}

#JoinInformation {
  visibility: visible;
}
#Lobby {
  visibility: collapse;
}


#border-top,
#border-bottom {
  position: fixed;
  left: 50%;
  width: 200vw;
  height: 12vh;
  background-color: black;
  transform: translateX(-50%);
  z-index: -1;
}

/* different rotations top vs bottom */
#border-top {
  top: 0vh;
  transform: translateX(-50%) rotate(1deg);
}

#border-bottom {
  bottom: 0vh;
  transform: translateX(-50%) rotate(-1deg);
}