@font-face {
  font-family: RetailBlack;
  src: url(fonts/RetailBlack.otf);
}
@font-face {
  font-family: Margin;
  src: url(fonts/Margin.otf);
}
@font-face {
  font-family: RetroFunk;
  src: url(fonts/Retrofunk.otf);
}

html {
  background-color: #222;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents the black bars from causing horizontal scroll */
  font-family: RetailBlack;
}

h1 {
  font-size: 7vw;
  text-shadow: 0.2vw 0.2vw rgb(0, 0, 0);
  color: #e85733;
  text-align: center;
  -webkit-text-stroke: .3vw black;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

/* Centering section */
#Lobby,
#JoinInformation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

/* Rotated input with straight text */
#lobbyWrapper {
  transform: skewX(-10deg);
  display: inline-block;   
}


#lobbyCode {
  color: #222;
  font-size: 3.5vw;
  font-family: Margin;
  background-color: #e85733;
  text-align: center;
  width: 25vw;
  padding: 0.5vw 1vw;
  border: none;
}

#lobbyCode:focus {
  background-color: #ce5334 !important;
}

/* Button styling */
#door-button,
#joinLobby,
#leaveLobby {
  font-size: 2vh;
  font-family: RetroFunk;
  padding: 0.5vh 2vh;
  background-color: #e85733;
  border: none;
  border-radius: 0.4vh;
  color: #222;
  cursor: pointer;
  transition: 0.2s;
}

#joinLobby {
  width: 20vh !important;
  height: 4vh !important;
  font-size: 3vh !important;
}

#door-button:hover,
#leaveLobby:hover,
#joinLobby:hover {
  background-color: #aa432a;
}
#leaveLobby:focus,
#joinLobby:focus {
  background-color: #ffffff;
}

#door-button:focus {
  background-color: #7c3624;
}

#leaveLobby {
  position: fixed;
  left: 40vw;
  right: 40vw;
  bottom: 10vh;
  border: .2em solid black;
  border-radius: .4rem;
}

#JoinInformation {
  visibility: visible;
}
#Lobby {
  visibility: collapse;
}


#border-top,
#border-bottom {
  position: fixed;
  left: 50%;
  width: 200vw;
  height: 16vh;
  background-color: black;
  transform: translateX(-50%);
  z-index: -1;
}

/* different rotations top vs bottom */
#border-top {
  top: -2.5vh;
  transform: translateX(-50%) rotate(1deg);
}

#border-bottom {
  bottom: -2.5vh;
  transform: translateX(-50%) rotate(-1deg);
}


/* lobby information */
#informationContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 25vh;
}

#buttonGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1vw;
  row-gap: 1vw;
  padding: 1vw;
}
#door-button {
  font-family: RetailBlack !important;
  font-size: 2vw !important;
  text-align: center;
}

#timer {
  padding-top: 2.5vh;
  /* padding-left: 2.5vw; */
  color: #ffffff;
  font-family: Margin;
  font-size: 3vw;
}

#minimapImg {
  width: 40vh;
  height: 40vh;
}

@media (hover: hover) {
  #minimapImg:hover {
    width: 60vh;
    height: 60vh;

    z-index: 99 !important;
    position: absolute;
    background-color: #222;
    top: -10vh !important;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

#PortraitCover {
  position: absolute;
  display: block;
  background-color: #222;
  height: 200vh;
  width: 200vw;

  visibility: "collapse";

  text-align: center;
}